{release,
    {ea_aics, "v0.0.1"},
    [
        {{ea_aics_core, "v0.0.1", '='}, load},
        {ea_aics_rest, "v0.0.1", '='},
        {ea_aics_store, "v0.0.1", '='},
        {ea_aics_mq, "v0.0.1", '='},
        sasl,
        runtime_tools
    ]
    }.

{extended_start_script, true}.
{generate_start_script, true}.
