{release,
    {ea_aics, "v0.0.0"},
    [   
        {jsx, load},
        {{ea_aics_core, "v0.0.0", '>='}, load},
        {ea_aics_rest, "v0.0.0", '>='},
        {ea_aics_store, "v0.0.0", '>='},
        {ea_aics_mq, "v0.0.0", '>='},
        sasl,
        runtime_tools
    ]
    }.

{extended_start_script, true}.
{generate_start_script, true}.
