{require_otp_vsn, "R15B03|R16B02|R16B03"}.

{erl_opts,
    [
        debug_info,
        inline_list_funcs,
        nowarn_deprecated_function,
        warn_export_all,
        warn_export_vars,
        warn_obsolete_guard,
        warn_shadow_vars,
        nowarn_untyped_record,
        warn_unused_function,
        warnings_as_errors
    ]
}.

{lib_dirs, ["apps", "libs"]}.
{sub_dirs,
    [
        "apps/ea_aics_core",
        "apps/ea_aics_rest",
        "apps/ea_aics_store",
        "apps/ea_aics_mq",
        "apps/ea_cs_core",
        "apps/ea_cs_mq"
    ]
}.

{deps,
    [
        {rebar_vsn_plugin,      ".*",   {git, "https://github.com/erlware/rebar_vsn_plugin.git",    {tag, "v0.0.4"}}},
        {echo_rebar_plugins,    ".*",   {git, "https://github.com/EchoTeam/rebar-plugins.git"}},
        {meck,                  ".*",   {git, "https://github.com/eproxus/meck.git",                {tag, "0.8.2"}}},
        {yaws,                  ".*",   {git, "https://github.com/klacke/yaws.git",                 {tag, "yaws-1.98"}}},
        {jsx,                   ".*",   {git, "https://github.com/talentdeficit/jsx.git",           {tag, "v2.0.2"}}},
        {pooler,                ".*",   {git, "https://github.com/seth/pooler.git",                 {tag, "1.1.0"}}},
        {mysql,                 ".*",   {git, "https://github.com/issuu/erlang-mysql-driver.git",   {tag, "72adaf6"}}},
        {uuid,                  ".*",   {git, "https://github.com/okeuday/uuid.git",                {tag, "v1.3.1.1"}}},
        {amqp_client,           ".*",   {git, "https://github.com/issuu/amqp_client.git",           {tag, "v3.3.0"}}}
    ]
}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{plugins, [rebar_vsn_plugin, rebar_genappup_plugin]}.