{require_otp_vsn, "R15B03|R16B02|R16B03"}.

{erl_opts,
    [
        debug_info,
        inline_list_funcs,
        nowarn_deprecated_function,
        warn_export_all,
        warn_export_vars,
        warn_obsolete_guard,
        warn_shadow_vars,
        nowarn_untyped_record,
        warn_unused_function,
        warnings_as_errors,
        {parse_transform, lager_transform}
    ]
}.

{lib_dirs, ["apps", "libs"]}.
{sub_dirs,
    [
        "apps/ea_aics_core",
        "apps/ea_aics_rest",
        "apps/ea_aics_store",
        "apps/ea_aics_mq",
        "apps/ea_cs_core",
        "apps/ea_cs_mq"
    ]
}.

{deps,
    [
        {exometer,              ".*",   {git, "https://github.com/Feuerlabs/exometer.git",          "fecbad3"}},
        {lager,                 ".*",   {git, "https://github.com/basho/lager",                     {tag, "2.0.3"}}},
        {rebar_vsn_plugin,      ".*",   {git, "https://github.com/erlware/rebar_vsn_plugin.git",    {tag, "v0.0.4"}}},
        {echo_rebar_plugins,    ".*",   {git, "https://github.com/EchoTeam/rebar-plugins.git"}},
        {meck,                  ".*",   {git, "https://github.com/eproxus/meck.git",                {tag, "0.8.2"}}},
        {yaws,                  ".*",   {git, "https://github.com/klacke/yaws.git",                 {tag, "yaws-1.98"}}},
        {jsx,                   ".*",   {git, "https://github.com/talentdeficit/jsx.git",           {tag, "v2.0.2"}}},
        {pooler,                ".*",   {git, "https://github.com/lastres/pooler.git",              {branch, "exometer"}}},
        {mysql,                 ".*",   {git, "https://github.com/rymir/erlang-mysql-driver.git",   {branch, "single-connection"}}},
        {uuid,                  ".*",   {git, "https://github.com/okeuday/uuid.git",                {tag, "v1.3.1.1"}}},
        {amqp_client,           ".*",   {git, "https://github.com/issuu/amqp_client.git",           {tag, "v3.3.0"}}},
        {sqerl,                 ".*",   {git, "https://github.com/devinus/sqerl.git",               "cba965b"}},
        {lhttpc,                ".*",   {git, "https://github.com/lastres/lhttpc.git",              "6c5980f"}},
        {iso8601,               ".*",   {git, "https://github.com/seansawyer/erlang_iso8601.git",   {tag, "1.1.1"}}}
    ]
}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{plugins, [rebar_vsn_plugin, rebar_genappup_plugin]}.
