[
    {pooler, [{pools, [
                       [
                        {name, memsql},
                        {max_count, 30},
                        {init_count, 10},
                        {start_mfa, {ea_aics_store, start_pool_member, []}}
                       ],
                       [
                        {name, rabbitmq},
                        {max_count, 10},
                        {init_count, 5},
                        {start_mfa, {ea_aics_mq, start_pool_member, []}}
                       ]
                      ]}]},
    {ea_aics_mq, [
                    {host, "127.0.0.1"},
                    {port, 5672},
                    {username, "ea"},
                    {password, "ea"}
                ]},
    {ea_aics_store, [
                    {host, "127.0.0.1"},
                    {port, 3306},
                    {username, "root"},
                    {password, ""},
                    {db_name, "AICS"}
                 ]},
    {ea_aics_rest, [
                    {ip, "0.0.0.0"},
                    {port, 8000}
                    ]},

    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [{file, "error.log"}, {level, error}]},
            {lager_file_backend, [{file, "console.log"}, {level, info}]}
            ]},
        {colored, true}
            ]},
    {exometer, [
        {defaults, [
            {['_'], function , [{module, exometer_function}]},
            {['_'], counter  , [{module, exometer}]},
            {['_'], histogram, [{module, exometer_histogram}]},
            {['_'], spiral   , [{module, exometer_spiral}]},
            {['_'], duration , [{module, exometer_folsom}]},
            {['_'], meter    , [{module, exometer_folsom}]},
            {['_'], gauge    , [{module, exometer_folsom}]}
            ]}
            ]}
].
