[
    {pooler, [{pools, [
                       [
                        {name, rabbitmq},
                        {max_count, 10},
                        {init_count, 5},
                        {start_mfa, {ea_cs_mq, start_pool_member, []}}
                       ]
                      ]}]},
   {ea_cs_mq, [
                   {host, "127.0.0.1"},
                   {port, 5672},
                   {username, "ea"},
                   {password, "ea"},
                   {num_consumers, 5},
                   {restart_interval, 10000}
                ]}
].
